print("1 p1")
print("2 v1")
print("3 p2")
print("4 v2")

a=int(input("enter the value ypu want: "))

if a==1:
  a=float(input("p2: "))
  b=float(input("v2: "))
  c=float(input("v1: "))
  d=a*b/c
  print("The value of P1 is: ",d)
  
elif a==2:
  a=float(input("p2: "))
  b=float(input("v2: "))
  c=float(input("p1: "))
  d=a*b/c
  print("The value of v1 is:",d)

elif a==3:
  a=float(input("p1: "))
  a=float(input("v1: "))
  a=float(input("v2: "))
  d=a*b/c
  print("the value of p2 is :",d)

elif a==4:
  a=float(input("p1: "))
  b=float(input("v1: "))
  c=float(input("p2: "))
  d=a*b/c
  print("the value of v2 is: ",d)
